<th:block th:fragment="_footer" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="admin/footer.html :: footer" xmlns:th="http://www.thymeleaf.org"></th:block>
    <script th:src="@{('/static/admin/plugins/tagsinput/jquery.tagsinput.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/datetimepicker/bootstrap-datetimepicker.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/jquery-multi-select/jquery.quicksearch.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/mditor/js/mditor.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/wysihtml5/0.3.0/wysihtml5.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/summernote/0.8.2/summernote.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/summernote/0.8.2/lang/summernote-zh-CN.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <!--<script src="@{('/static/admin/plugins/multi-select/0.9.12/js/jquery.multi-select.min.js"><')}/ xmlns:th="http://www.thymeleaf.org"script>-->
    <!--<script src="@{('/static/admin/plugins/select2/3.4.8/select2.min.js"><')}/ xmlns:th="http://www.thymeleaf.org"script>-->
    <script th:src="@{('/static/admin/plugins/vue-select/vue-select.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/jquery-toggles/2.0.4/toggles.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/dropzone/4.3.0/min/dropzone.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/to-markdown/3.1.0/to-markdown.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
</th:block>