<th:block th:include="admin/header.html :: header" xmlns:th="http://www.thymeleaf.org"></th:block>
<link th:href="@{('/static/admin/plugins/dropzone/4.3.0/min/dropzone.min.css')}" rel="stylesheet" xmlns:th="http://www.thymeleaf.org">
<style>
    #dropzone {
        margin-bottom: 3rem;
    }

    .dropzone {
        border: 2px dashed #0087F7;
        border-radius: 5px;
        background: white;
    }

    .dropzone .dz-message {
        font-weight: 400;
        max-width: 100%;
        overflow: hidden;
    }

    .dropzone .dz-message .note {
        font-size: 0.8em;
        font-weight: 200;
        display: block;
        margin-top: 1.4rem;
    }

    .attach-img {
        max-height: 99px;
        max-width: 99px;
        border-radius: 10px;
    }

    .attach-text {
        font-size: 12px;
        font-weight: 300;
    }

    .attach-img:hover {
        background-color: #f9f9f9;
    }
    .img-show {
        height: 100px;
    }
</style>
<div id="app" class="row" v-cloak>
    <loading :active.sync="isLoading" :can-cancel="true"></loading>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">附件管理</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 portlets">
                    <!-- Your awesome content goes here -->
                    <div class="m-b-30" id="pasteShapeIcon">
                        <div action="#" class="dropzone">
                            <!--<div class="fallback">-->
                            <!--<input name="file" type="file" multiple="multiple">-->
                            <!--</div>-->
                            <div class="dz-message">
                                <p>鼠标点击此处 Ctrl + V 即可上传图片</p>
                                <p>
                                    <span style="font-size: 16px; color: #d0d0d0;">仅可粘贴截图</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 attach">
                    <div v-if="attachPage.content !=null && attachPage.content.length == 0" class="row">
                        <div class="col-md-4 text-center">
                            <div class="alert alert-warning">
                                目前还没有一个附件呢，你可以上传试试!
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-6 text-center m-t-10" v-for="item in attachPage.content">
                        <div class="img-show">
                            <a :href="'/myImg'+item.url" target="_blank">
                                <img v-if="item.ftype == 'image'" class="attach-img" :src="'/myImg'+item.url" :title="item.fname"/>
                                <img v-if="item.ftype != 'image'" class="attach-img" src="/static/admin/images/attach.png" :title="item.fname"/>
                            </a>
                        </div>
                        <div class="clearfix m-t-10">
                            <span class="attach-text" data-toggle="tooltip" data-placement="top" :data-original-title="item.fname">{{item.fname | truncate(15)}}</span>
                        </div>
                        <div class="clearfix">
                            <button :src="'/myImg'+item.url" type="button"
                                    class="btn btn-warning btn-sm waves-effect waves-light m-t-5 copy">
                                <i class="fa fa-copy"></i> <span>复制</span>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm waves-effect waves-light m-t-5"
                                    @click="deleteAttach(item.id)">
                                <i class="fa fa-trash-o"></i> <span>删除</span>
                            </button>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <ul class="pagination m-b-5 pull-right">
                        <li v-if="!attachPage.first">
                            <a @click="load(attachPage.number)" aria-label="Previous">
                                <i class="fa fa-angle-left"></i>&nbsp;上一页
                            </a>
                        </li>

                        <li class="page-item" v-for="num in attachPage.totalPages" :class="{ active: attachPage.number+1 == num }">
                            <a @click="load(num)">
                                {{ num }}</i>
                            </a>
                        </li>
                        <li v-if="!attachPage.last">
                            <a type="button" class="page-link" @click="load(attachPage.number+2)">
                                下一页&nbsp;<i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li><span>共 {{attachPage.totalPages}} 页</span></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="admin/footer.html :: footer" xmlns:th="http://www.thymeleaf.org"></div>
<script th:src="@{('/static/admin/plugins/clipboard.js/1.6.0/clipboard.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
<script >
    var tale = new $.tale();
    var vm = new Vue({
        el: '#app',
        data: {
            attachPage: {
            },
            isLoading: true
        },
        beforeCreate: function(){
            vueLoding = this.$loading.show();
        },
        mounted: function () {
            this.load(1);
        },
        methods: {
            load: function (num) {
                var $vm = this;
                tale.get({
                    url: '/cc/attaches/1?page='+num,
                    success: function (data) {
                        $vm.attachPage = data.data
                    },
                    error: function (error) {
                        console.log(error);
                        alert(error || '数据加载失败');
                    }
                });
            },
            deleteAttach: function (id) {
                var $vm = this;
                tale.alertConfirm({
                    title: '确定删除该附件吗?',
                    then: function () {
                        tale.post({
                            url: '/cc/attach/delete/' + id,
                            success: function (result) {
                                if (result && result.code==200) {
                                    tale.alertOk('附件删除成功');
                                    $vm.load();
                                } else {
                                    tale.alertError(result.msg || '附件删除失败');
                                }
                            }
                        });
                    }
                });
            }
        }
    });


    var clipboard = new Clipboard('button.copy', {
        text: function (trigger) {
            return window.location.protocol+'//'+window.location.host+$(trigger).attr('src');
        }
    });

    clipboard.on('success', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
        e.clearSelection();
    });

    $(document).ready(function () {
        vm.isLoading = false;
        vueLoding.hide();
    });

    if (!isIE()) {
        document.getElementById('pasteShapeIcon').addEventListener("paste", function (event) {
            paste_img(event);
        }, false);
    }

    function isIE() {
        if (!!window.ActiveXObject || "ActiveXObject" in window)
            return true;
        else
            return false;
    }

    function paste_img(event) {
        if (event.clipboardData || event.originalEvent) {
            //not for ie11  某些chrome版本使用的是event.originalEvent
            var clipboardData = (event.clipboardData || window.clipboardData || event.originalEvent.clipboardData);
            if (clipboardData.items) {
                var items = clipboardData.items,
                    file = null;
                //阻止默认行为即不让剪贴板内容在div中显示出来
                event.preventDefault();
                if (items && items.length) {
                    // 搜索剪切板items
                    for (var i = 0; i < items.length; i++) {
                        if (items[i].type.indexOf('image') !== -1) {
                            //getAsFile() 此方法只是living standard firefox ie11 并不支持
                            file = items[i].getAsFile();
                            break;
                        }
                    }
                } else {
                    log.innerHTML = '<span style="color:red;">当前浏览器不支持桌面图片复制和粘贴上传</span>';
                    return;
                }
                if (!file) {
                    log.innerHTML = '<span style="color:red;">粘贴内容非图片</span>';
                    return;
                } else {
                    // 预览图片
                    var reader = new FileReader()
                    reader.onload = function (event) {
                        document.getElementById("pasteShapeIcon").style.border = "0";
                        $("#pasteShapeIconTitle").text("");
                        document.getElementById("photoPath").style.border = "solid";
                        $("#photoPath").show();
                        $("#photoPath").attr("src", event.target.result);

                    }
                    reader.readAsDataURL(file);
                    // 提示是否上传
                    sendFile(file);
                }
            } else {
                //其他不兼容的浏览器
                log.innerHTML = '<span style="color:red;">当前浏览器不支持上传</span>';
                return;
            }
        } else {
            //ie 浏览器要手动上传
            log.innerHTML = '<span style="color:red;">请选择图片提交上传</span>';
            return;
        }
    }
    //保存图片
    function sendFile(file) {
        // var url = window.location.protocol+"://"+window.location.host+'/uploadShapeIcon';
        var fd = new FormData();
        fd.append("file", file);
        $.ajax({
            url: "/cc/uploadShapeIcon",
            type: "post",
            data: fd,
            processData: false,
            contentType: false,
            success: function () {
                window.location.reload();
            },
        });
    }

</script>
</body>
</html>
