<th:block th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
<footer class="footer text-right">
    <script th:src="@{('/static/admin/plugins/jquery/3.2.1/jquery.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/bootstrap/3.3.7/js/bootstrap.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/md5/md5.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/dashborad/detect.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/dashborad/fastclick.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/dashborad/wow.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/dashborad/jquery.slimscroll.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/axios/axios.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/vue/vue.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/moment/moment.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/vue-loading/vue-loading.min.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/plugins/dashborad/jquery.app.js')}" xmlns:th="http://www.thymeleaf.org"></script>
    <script th:src="@{('/static/admin/js/base.js?v=v1.0')}" xmlns:th="http://www.thymeleaf.org"></script>
</footer>
</div>
</div>
</th:block>