<!--suppress ThymeleafVariablesResolveInspection-->
<th:block th:include="themes/default/partial/header.html :: header" xmlns:th="http://www.thymeleaf.org"></th:block>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/showdown/1.3.0/showdown.min.js"></script>
<script type="text/javascript">
</script>
<article class="main-content page-page" itemscope itemtype="http://schema.org/Article"
         xmlns:th="http://www.thymeleaf.org">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline">
            <a th:href="@{'article/' + ${article.cid}}" th:text="${article.title}"></a>
        </h1>
        <div class="post-data">
            发布于
            <i th:text="${#dates.format(article.created,'yyyy-MM-dd')}"></i>
            / <a th:href="@{'/category/' + ${article.categories}}" th:text="${article.categories}"></a> /
            <a href="#comments">
                <strong th:if="${article.commentsNum==0}">没有评论</strong>
                <strong th:unless="${article.commentsNum==0}" th:text="${article.commentsNum}+' 评论'"></strong>
            </a> /
            <strong th:text="${article.hits}"></strong> 浏览
        </div>
    </div>
    <div id="post-content" class="post-content" itemprop="articleBody">
        <p class="post-tags">
            <th:block th:each="tag:${#strings.arraySplit(article.tags,',')}" th:if="${article.tags != ''}">
                <a th:href="@{'/tag/' + ${tag}}" th:text="${tag}"></a>
            </th:block>
            <a th:if="${article.tags == ''}" th:href="@{'/tag/' + 'def'}">-_-</a>
        </p>
        <th:block th:utext="${article.content}"></th:block>
        <p class="post-info">
            本文最后修改时间:<i th:text="${#dates.format(article.modified,'yyyy-MM-dd')}"></i>
        </p>
    </div>
</article>
<!--<div id="post-bottom-bar" class="post-bottom-bar">
    <div class="bottom-bar-inner">
        <div class="bottom-bar-items social-share left">
            <span class="bottom-bar-item">Share : </span>
            <span class="bottom-bar-item bottom-bar-facebook"><a
                    href="https://www.facebook.com/sharer/sharer.php?u=${permalink()}" target="_blank"
                    title="${title()}" rel="nofollow">facebook</a></span>
            <span class="bottom-bar-item bottom-bar-twitter"><a
                    href="https://twitter.com/intent/tweet?url=${permalink()}&text=${title()}" target="_blank"
                    title="${title()}" rel="nofollow">Twitter</a></span>
            <span class="bottom-bar-item bottom-bar-weibo"><a
                    href="http://service.weibo.com/share/share.php?url=${permalink()}&amp;title=${title()}"
                    target="_blank" title="${title()}" rel="nofollow">Weibo</a></span>
            <span class="bottom-bar-item bottom-bar-qrcode"><a
                    href="//pan.baidu.com/share/qrcode?w=300&amp;h=300&amp;url=${permalink()}" target="_blank"
                    rel="nofollow">QRcode</a></span>
        </div>
        <div class="bottom-bar-items right">
            <span class="bottom-bar-item">${thePrev('→')}</span>
            <span class="bottom-bar-item">${theNext('←')}</span>
            <span class="bottom-bar-item"><a href="#footer">↓</a></span>
            <span class="bottom-bar-item"><a href="#">↑</a></span>
        </div>
    </div>
</div>-->
<th:block th:include="themes/default/partial/comments.html :: comments" xmlns:th="http://www.thymeleaf.org"></th:block>
<th:block th:include="themes/default/partial/footer.html :: footer" xmlns:th="http://www.thymeleaf.org"></th:block>